# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/

# Node
node_modules/
npm-debug.log

# Java
*.class
target/

# VSCode
.vscode/

# IDEs
.idea/
*.iml

# Logs
*.log
